<header class="page-header">
  <div class="page-header__title">
    <h1 class="header-title">

      <a class="u-url" href="/">
        {{- partial "svg/logo.html" -}}&nbsp;<span class="p-name">Sidecar</span>
      </a>
    </h1>
  </div>

  <nav class="page-header__nav top-nav">
    <ul class="nav-links">
      <li><a href="/drinks/">Drinks</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/techniques/">Techniques</a></li>
      <li><a href="/ingredients/">Ingredients</a></li>
    </ul>
  </nav>
</header>
