<div class="card-wrapper">
  <div class="recipe-card h-recipe">
    <div class="recipe-card__image">
      {{ if .Params.image }}
        <img src="{{.Params.image.url}}"
          alt="{{.Params.image.alt}}"
          {{ if .Params.image.align}} style="object-fit: {{.Params.image.align}}"{{end}}/>
      {{ else }}
        <img src="/images/bar-wall.jpg"
          alt="Shelves of a bar stocked with racks of liquor bottles"/>
      {{ end }}
    </div>
    <div class="recipe-card__body recipe-box">
      <h1 class="recipe-box__title p-name">{{.Title}}</h1>
      <ul class="taglist">
        {{ range .Params.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
      </ul>
      {{ if .Params.summary }}
        <div class="recipe-summary p-summary">{{ .Params.summary }}</div>
      {{ end }}
      <ul class="ingredients">
        {{ range .Params.ingredients }}
        <li class="p-ingredient">{{ . }}</li>
        {{ end }}
      </ul>
      <div class="content-recipe e-instructions">
        {{.Content}}
      </div>
    </div>
  </div>
</div>
