<main class="card-wrapper">
  <div class="recipe-card h-recipe">
    <div class="recipe-card__image">
      {{ if .Params.image }}
        <img src="{{.Params.image.url}}"
          alt="{{.Params.image.alt}}"
          {{ if .Params.image.align}} style="object-position: {{.Params.image.align}}"{{end}}/>
      {{ else }}
        <img src="/images/bar-wall.jpg"
          alt="Shelves of a bar stocked with racks of liquor bottles"/>
      {{ end }}
    </div>
    <div class="recipe-card__body recipe-box">
      <h1 class="recipe-box__title p-name">{{.Title}}</h1>
      <ul class="taglist">
        {{ range .Params.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
      </ul>
      <div class="content-recipe e-instructions">
        {{.Content}}
      </div>
      <date class="dt-published">Published {{dateFormat "02 Jan 2006" .Date.Local}}</date>
    </div>
  </div>
</main>
