<!doctype html>
<html lang="en-US">
<head>
  {{ partial "meta.html" . }}
</head>
<body class="no-footer">
  <main class="hp-grid">
    <div class="hp__header">
      <div>
        <h1>
          {{- partial "svg/logo.html" . -}} Sidecar
        </h1>
        <div>A curated collection of cocktails</div>
      </div>
    </div>
    <a class="hp__drinks hp__tile" href="/drinks/">Drinks</a>
    <a class="hp__tags hp__tile" href="/tags/">Tags</a>
    <a class="hp__techniques hp__tile" href="/techniques">Techniques</a>
    <a class="hp__ingredients hp__tile" href="/ingredients/">Ingredients</a>
    <a class="hp__about hp__tile" href="/about/">About</a>
    <div class="hp__recent">
      <h2>Currently featured cocktails:</h2>
      <div class="recent-drinks">
        {{ range first 3 (where .Site.Pages ".Params.featured" true) }}
          <a href="{{ .URL }}"
            {{- if .Params.image -}}
              style="background-image: url({{.Params.image.url}});
              {{- if .Params.image.align -}}
              background-position: {{.Params.image.align}}
              {{- end -}}"
          {{- else -}}
            style="background-image: url(/images/bar-wall.jpg)"
          {{- end -}})>
            <div class="recent-drinks__title">{{- .Title -}}</div>
          </a>
        {{ end }}
      </div>
    </div>
  </main>
</body>
</html>
