<!doctype html>
<html lang="en-US">
<head>
  {{- partial "meta.html" . -}}
</head>
<body class="h-feed">
  {{- partial "header.html" . -}}

  <div class="list-bg js-main">
    <h1 class="list-heading">{{ .Title }}</h1>
    <div class="l-list">
      {{- if .Paginator.HasPrev -}}
        <div class="l-list__pagination pagination-loader">
          <a rel="prev" href="{{.Paginator.Prev.URL}}">load newer posts</a>
        </div>
      {{- end -}}
      {{- range .Paginator.Pages -}}
        {{- if eq .Section "talks" -}}
          {{- .Content -}}
        {{- else -}}
          <div class="l-list__item">
            {{- if eq .Section "drinks" -}}
              <a href="{{.URL}}">{{.Title}}</a>
            {{- else -}}
              - other stuff here -
              <a href="{{.URL}}">{{.Title}}</a>
            {{- end -}}
          </div>
        {{- end -}}
      {{- end -}}
      {{- if .Paginator.HasNext -}}
        <div class="l-list__pagination pagination-loader">
          <a rel="next" href="{{.Paginator.Next.URL}}">load more posts</a>
        </div>
      {{- end -}}
    </div>
  </div>

  {{- partial "footer.html" . -}}
</body>
</html>
