<!doctype html>
<html lang="en-US">
<head>
  {{- partial "meta.html" . -}}
</head>
<body class="h-feed">
  {{- partial "header.html" . -}}

  <div class="list-container list-container--{{.Section}}">
    <h1 class="list-heading">{{ .Title }}</h1>
    <div class="post-list post-list--{{.Section}}">
      {{- if .Paginator.HasPrev -}}
        <div class="post-list__pagination">
          <a rel="prev" href="{{.Paginator.Prev.URL}}">load newer posts</a>
        </div>
      {{- end -}}
      {{- range .Paginator.Pages -}}
        <div class="post-list__item h-entry">
          {{- if eq .Section "drinks" -}}
            {{- partial "recipe-brief.html" . -}}
          {{- else -}}
            {{- partial "post-brief.html" . -}}
          {{- end -}}
        </div>
      {{- end -}}
      {{- if .Paginator.HasNext -}}
        <div class="l-list__pagination pagination-loader">
          <a rel="next" href="{{.Paginator.Next.URL}}">load more posts</a>
        </div>
      {{- end -}}
    </div>
  </div>

  {{- partial "footer.html" . -}}
</body>
</html>
