<!doctype html>
<html lang="en-US">
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  {{ if or (eq .Section "drinks") }}
    <main class="">
      <div class="recipe-card">
        {{ if .Params.image }}
        <div class="recipe-card__image">
          <img src="{{.Params.image.url}}"
          alt="{{.Params.image.alt}}"/>
        </div>
        {{ end }}
        <div class="recipe-card__body recipe-box">
          <h1 class="recipe-box__title">{{.Title}}</h1>
          <ul class="taglist">
          </ul>
          <div class="content-recipe">
            {{.Content}}
          </div>
        </div>
      </div>
    </main>
  {{ else }}
    <main class="">
      <h1>{{.Title}}</h1>
      <div>
        {{.Content}}
      </div>
    </main>
  {{ end }}
  {{ partial "footer.html" . }}
</body>
</html>
