body {
  margin: 0;
  color: $gray-1;
  background-color: $orange-9;
  /*font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond,
    Times New Roman, serif;*/
  /*font-family: Cabin, Futura, Tahoma, sans-serif;*/
  font-family: Raleway, Tahoma, sans-serif;
  line-height: 1.45;
}

h1,
h2,
h3 {
  font-family: Playfair Display, serif;
  font-weight: normal;
  line-height: 1.25;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

a {
  color: $orange-5;
  transition: color 0.3s linear;
  text-decoration-skip: ink;
}

a:visited {
  color: $orange-6;
}

a:hover {
  color: $orange-4;
}

svg {
  height: 2em;
}
