.compact-list {
  display: grid;

  & > * {
    display: block;
    padding: 0.6em 1em;
    color: inherit;
    background-color: $white;
    text-decoration: none;
    box-shadow: $box-shadow;

    &:visited {
      color: inherit;
    }
  }
}

.compact-list__item {
  transition: transform .2s ease-out;
}

.compact-list__item:hover {
  transform: scale(1.05);
}

@media (min-width: 450px) {
  .compact-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }
}
