.content-recipe {
  & ul {
    margin-left: -1em;
    padding-left: 1em;
    color: $gray-1;
    font-style: italic;
    list-style-type: none;

    & li {
      position: relative;
    }

    & li::before {
      position: absolute;
      top: 0;
      left: -0.6em;
      content: '• ';
      color: $orange-7;
      font-size: 1.4em;
      line-height: 1;
    }
  }

  & ul ~ p {
    color: $gray-1;
  }
}

