.hp-grid {
  display: grid;
  grid-template-columns: [full-start] 1fr 1fr 1fr [full-end];
  grid-template-rows: 3fr 2fr 1fr 1fr 1.5fr;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  min-height: calc(100vh - 2em);
  margin: 1em;
}

.hp__header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: full;
  text-align: center;

  & h1 {
    margin: 0;
  }

  & svg {
    vertical-align: -0.6em;
  }
}

.hp__drinks {
  grid-column: full;
  font-size: 2rem;
}

.hp__tags {
  grid-column: full;
}

.hp__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Playfair Display, serif;
  text-decoration: none;
  color: inherit;
  background-color: white;
  box-shadow: $box-shadow;

  &:visited {
    color: inherit;
  }
}

.hp__recent {
  display: grid;
  grid-column: full;
  grid-template-rows: auto 2fr;
  font-family: inherit;

  & > h2 {
    margin: 0;
    padding-top: 0.5em;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
    align-self: end;
  }
}

@media (min-width: 500px) {
  .hp-grid {
    grid-template-columns: [full-start] 2fr 1fr 1fr 2fr [full-end];
    grid-template-rows: 3fr 1fr 1fr 1fr 1.5fr;
  }

  .hp__drinks {
    grid-column: 1 / 4;
    grid-row: span 2;
  }

  .hp__tags,
  .hp_techniques {
    grid-column: 4 / 5;
  }

  .hp__ingredients,
  .hp__about {
    grid-column: span 2;
  }
}

@media (min-width: 800px) {
  .hp-grid {
    max-width: 800px;
    margin: 1em auto;
  }
}
