.nav-links {
  display: flex;
  margin: 0 -0.8em;
  list-style-type: none;
  padding-left: 0;

  & > li{
    margin: 0 0.8em;
  }

  & a {
    display: block;
    padding: 0.3em 0;
    color: $orange-9;
    transition: color 1s linear;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: Playfair Display, serif;
    letter-spacing: 0.08em;
    text-decoration: none;

    &:hover {
      color: $white;
      transition: none;
    }
  }
}

@media (min-width: 500px) {
  .nav-links {
    & > li > a {
      padding: 0;
    }
  }
}
