.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: $gray-6;
}

.page-footer__inner {
  margin: 0 auto;
  padding: 0.5em 2em;
  max-width: 800px;

  & a {
    color: inherit;
  }

  @media (min-width: 500px) {
    padding: 1em 2em;
  }
}
