.recipe-box {
  padding: 2em 1.8em;
  color: $gray-5;
  background-color: $white;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.4);

  & ul {
    padding-left: 0;
    color: $gray-1;
    font-style: italic;
    list-style-type: none;
  }

  & ul ~ p {
    color: $gray-1;
  }
}

.recipe-box__title {
  color: $gray-1;
  color: $orange-5;
  font-size: 1.8rem;
  font-weight: normal;
}
