.recipe-box {
  display: flex;
  flex-direction: column;
  padding: 1.6em 1em;
  color: $gray-3;
  color: var(--font-color, $gray-3);
  background-color: $white;
  box-shadow: $box-shadow;

  & > date {
    margin-top: auto;
    font-size: 0.8rem;
    text-align: right;
    color: $gray-5;
  }
}

.recipe-box__title {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: normal;
}

@media (min-width: 375px) {
  .recipe-card__body {
    padding: 1em 1.8em;
  }
}
