.recipe-box {
  padding: 1.6em 1em;
  color: $gray-3;
  color: var(--font-color, $gray-3);
  background-color: $white;
  box-shadow: $box-shadow;
}

.recipe-box__title {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: normal;
}

@media (min-width: 375px) {
  .recipe-card__body {
    padding: 1em 1.8em 2em;
  }
}
