.taglist {
  display: flex;
  flex-wrap: wrap;
  margin: 0.8em -0.5em 1em;
  padding-left: 0;
  list-style-type: none;
}

.taglist > li {
  margin: 0 0.2em;
  line-height: 1.7;
}

.taglist--nolinks > li {
  margin: 0.2em;
}

.taglist > li > a,
.taglist--nolinks > li {
  padding: 0.2em 1em;
  border-radius: 1.5em;
  color: $white;
  background-color: $orange-6;
  font-size: 0.72rem;
  transition: background-color 0.3s linear;
  text-decoration: none;
}

.taglist > li > a:hover {
  background-color: $orange-5;
}

@media (pointer: coarse) {
  .taglist > li {
    line-height: 2.2;
  }

  .taglist > li > a,
  .taglist--nolinks > li {
    padding: 0.6em 1em;
  }
}
