$gray-1: hsl(211, 15%, 10%);
$gray-3: hsl(211, 15%, 30%);
$gray-5: hsl(211, 10%, 50%);
$gray-9: hsl(211, 15%, 90%);

$orange-4: hsl(17, 70%, 40%);
$orange-5: hsl(17, 70%, 50%);
$orange-6: hsl(17, 70%, 60%);
$orange-7: hsl(17, 70%, 70%);
$orange-8: hsl(17, 70%, 80%);
$orange-9: hsl(17, 70%, 90%);

$white: white;
